.jambotron {
    background-color: #F6FAFF;
}

.display-5 {
    font-size: 37px;
    font-family: DINregular,'Open Sans';
    text-transform: uppercase;
}

@media(max-width:734px) {
    .display-5 {
        font-size: 30px;
    }
}

@media(max-width:596px) {
    .display-5 {
        font-size: 25px;
    }
}

.continue-login {
    text-transform: uppercase;
    font-size: 13px;
    color: #FFFFFF;
    font-family: DINregular,'Open Sans';
    width: 163px;
    height: 33px;
    background-color: #2E2E33;
    border-radius: 0px;
    margin-top: 20px;
}
