<div class=" col-lg-12 col-sm-12">
    <div class="tab-content" id="myTabContent">
        <form name="form" #f="ngForm" novalidate>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h3 class="login-heading reset-passw">Change your password</h3>
                </div>
            </div>
            <div class="form-group row " style="display: none;">
                <div class="col-md-10 offset-md-1">
                    <input type="email" id="email" class="form-control register-form-control register-form-control-req" name="email" [(ngModel)]="email">
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-md-10 offset-md-1">
                    <input type="password" class="form-control login-form-control" name="oldPassword" [(ngModel)]="oldPassword" #OldPassword="ngModel" placeholder="Old Password" [ngClass]="{ 'is-invalid':f.submitted&&OldPassword.invalid }" required>
                    <i class="login-icon fa fa-key "></i>
                    <div *ngIf="OldPassword.invalid" class="invalid-feedback">
                        <div *ngIf="OldPassword.errors.required" class="invalid-input">Please enter your old password
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-md-10 offset-md-1">
                    <input type="password" class="form-control login-form-control" name="newPassword" [(ngModel)]="newPassword" #NewPassword="ngModel" placeholder="New Password" [ngClass]="{ 'is-invalid': f.submitted &&NewPassword.invalid}" required minlength="6">
                    <i class="login-icon fa fa-key "></i>
                    <div *ngIf="f.submitted&&NewPassword.invalid" class="invalid-feedback">
                        <div *ngIf="NewPassword.errors.required" class="invalid-input">Please enter your new password
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-md-10 offset-md-1">
                    <input type="password" class="form-control login-form-control" name="newPassword" [(ngModel)]="confirmPassword" #ConfirmPassword="ngModel" placeholder="Confirm Password" [ngClass]="{ 'is-invalid': f.submitted &&ConfirmPassword.invalid}" required>
                    <i class="login-icon fa fa-key "></i>
                    <div *ngIf="f.submitted&&ConfirmPassword.invalid" class="invalid-feedback">
                        <div *ngIf="ConfirmPassword.errors.required" class="invalid-input">Please confirm your new password
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <button class="btn client-cancel-button" (click)="closeModal()">Close</button>
                    <button type="button " class="btn client-save-button" (click)="changePassword()" [disabled]="f.invalid">
                        Save
                    </button></div>
            </div>
        </form>
    </div>
</div>