.login-heading {
    font-size: 14px;
    font-family: DINBold ,'Open Sans';
    color: #333333;
    margin-bottom: 30px;
    margin-top: 0px;
    text-transform: uppercase;
    text-align: center;
}
