.reset-passw {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 17px;
    font-family: DINBold , 'Open Sans';
    color: #333333;
}

.cancl-button {
    text-transform: uppercase;
    font-size: 14px;
    color: #2E2E33;
    font-family: DINregular,'Open Sans';
    width: 78px;
    height: 33px;
    background-color: #FFFFFF;
    border-radius: 0px;
    margin-top: 20px;
    border-color: #2E2E33;
    margin-left: 10px;
}
