<div class="Main-container mazars-design">

    <!--Navbar section-->
    <nav class="navbar navbar-expand-lg  inside-container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fa fa-bars"></i>
            </span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="assets/img/Mazars.png" alt="" style="width:75%">
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-en" href="#">EN |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-al" href="#">AL</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--End navbar section-->
    <section class="register-section login-section">
        <div class="inside-container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class=" col-lg-6 col-sm-12">
                        <div class="card">
                            <div class="tab-content" id="myTabContent">
                                <div class="container">
                                    <form name="form" #f="ngForm">
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-10">
                                                <h3 class="reset-passw">Reset your password</h3>
                                                <p class="login-paragraph">Please enter your new password below.</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-10">
                                                <input type="email" class="form-control login-form-control" name="email" [(ngModel)]="email" #emailInput="ngModel" placeholder=" Username " [ngClass]="{ 'is-invalid':(emailInput.dirty||emailInput.touched)&&emailInput.invalid }" required email>
                                                <i class="login-icon fa fa-user "></i>
                                                <div *ngIf="emailInput.invalid&& (emailInput.dirty || emailInput.touched)" class="invalid-feedback">
                                                    <div *ngIf="emailInput.errors.required" class="invalid-input">Please enter your email address
                                                    </div>
                                                    <div *ngIf="emailInput.errors.email" class="invalid-input">Email must be a valid email address
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <div class="col-md-1 "></div>
                                            <div class="col-md-10 ">
                                                <input type="password" class="form-control login-form-control" name="oldPassword" [(ngModel)]="oldPassword" #OldPassword="ngModel" placeholder="Old Password" [ngClass]="{ 'is-invalid':f.submitted&&OldPassword.invalid }" required>
                                                <i class="login-icon fa fa-key "></i>
                                                <div *ngIf="OldPassword.invalid" class="invalid-feedback">
                                                    <div *ngIf="OldPassword.errors.required" class="invalid-input">
                                                        Please enter your old password
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <div class="col-md-1 "></div>
                                            <div class="col-md-10 ">
                                                <input type="password" class="form-control login-form-control" name="newPassword" [(ngModel)]="newPassword" #NewPassword="ngModel" placeholder="New Password" [ngClass]="{ 'is-invalid': f.submitted &&NewPassword.invalid}" required minlength="6">
                                                <i class="login-icon fa fa-key "></i>
                                                <div *ngIf="f.submitted&&NewPassword.invalid" class="invalid-feedback">
                                                    <div *ngIf="NewPassword.errors.required" class="invalid-input">
                                                        Please enter your new password
                                                    </div>
                                                </div>
                                                <button type="button " class="btn login-button" (click)="resetPassword()" routerLink="/login" [disabled]="f.invalid">
                                                    Reset
                                                </button>
                                                <button type="button" class="btn cancl-button" routerLink="/login">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 "></div>
                </div>
            </div>
        </div>
    </section>
</div>